/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&family=Quicksand:wght@400;600&display=swap');





html,
body {
  padding: 0;
  margin: 0;
}

html {
  overflow-y: scroll;
  overflow-y: overlay;
}

.global-menu-desktop ul {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Quicksand', sans-serif;
  outline: none !important;
}

*:hover,
*:active
*:focus {
  outline: none !important;
}

.heading-h1, .heading-h2, .heading-h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

/* FONT SIZES ACROOS ALL SCREENS */
.heading-h1 {
  @apply text-2xl;
}

.heading-h2 {
  @apply text-xl;
}

h3, .heading-h3, button {
  @apply text-lg;
}

p, div {
  @apply text-base;
}

.nav-link-dr {
  @apply text-lg;
  text-decoration: none;
}

a, li {
  @apply text-lg;
}

ol, ul {
  @apply pl-0 !important;
  @apply pr-0 !important;
  @apply mb-0 !important;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

@screen sm {
  .heading-h1 {
    @apply text-3xl;
  }

  .heading-h2 {
    @apply text-2xl;
  }

}


@screen lg {
  .heading-h1 {
    @apply text-4xl;
  }

  .heading-h2 {
    @apply text-2xl;
  }

  #hero-section p {
    @apply text-base;
  }


}



@screen xl {
  .heading-h1 {
    @apply text-5xl;
  }

  .heading-h2 {
    @apply text-3xl;
  }

  #hero-section p {
    @apply text-lg;
  }


}


#trick-dice-features {
  list-style: disc;
  @apply m-0;
  @apply p-0;
  
  @apply ml-4;
}

#trick-dice-features li {
  @apply text-base;
  @apply py-1;
}

#toscoot-features {
  list-style: disc;
  @apply m-0;
  @apply p-0;
  
  @apply ml-4;
}

#toscoot-features li {
  @apply text-base;
  @apply py-1;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.active {
  @apply border-b-4;
  @apply border-green-300;
}

.activeMobil {
  @apply border-l-4;
  @apply border-opacity-100;
  @apply border-green-300;

}


/* General for all buttons */
.btn-style {
  @apply border-2;
  @apply border-green-600;
  @apply ease-in-out;
  transition: all 0.25s;
}

.btn-style:hover,
.btn-style:active,
.btn-style:focus {
  @apply bg-transparent;
  @apply text-green-600;
  font-weight: 700;
  @apply border-green-600;
  @apply border-2;
}

#hero-section article button:hover,
#hero-section article button:active,
#hero-section article button:focus {
  @apply bg-transparent;
  @apply text-green-600;
  font-weight: 700;
  @apply border-green-600;
  @apply border-2;
}



* {
  box-sizing: border-box;
}

.content {
  @apply w-full;
}



/* NAVIGATION */
header {
  @apply bg-green-600;
  @apply w-full;
  @apply max-w-full;
  @apply mx-7;
  @apply px-7;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply align-middle;
  @apply top-0;
  @apply z-10;
  @apply text-base;
  @apply sticky;
  @apply h-16;
  @apply max-h-16;
}

header * {
  @apply text-white;
  font-weight: 600;
  @apply text-base;
}

.header-detail-page {
  @apply bg-green-600;
  @apply flex;
  @apply flex-row;
  @apply justify-between;
  @apply items-center;
  @apply px-7;
  @apply m-0;
}

.header-detail-page button {
  background-color: white;
  @apply text-green-600;
  @apply px-4;
  @apply py-2;
  @apply rounded-full;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply border-2;
  @apply border-white;
  @apply ease-in-out;
  transition: all 0.25s;
}

.header-detail-page button:hover {
  background-color: transparent;
  @apply text-white;
  @apply border-white;
}

.details-navigation-links {
  @apply flex;
  @apply justify-center;
  @apply items-center;
}

.socials-detail ul {
  @apply flex;
  @apply justify-center;
  @apply items-center;
}

.socials-detail ul li {
  @apply pl-6; 
}

.socials-detail ul li * {
  @apply text-white;
  @apply text-2xl;
}

.socials-detail ul li a:hover * {
  @apply text-black;
}

.logo {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.logo img {
  @apply w-14;
  
}

.logo-detail-page {
  @apply flex;
  @apply items-center;
  @apply justify-center;
}

.logo-detail-page img {
  @apply w-14;
  @apply cursor-pointer;
}

/* FOOTER FOR ALL SCREENS */
footer {
  color: black;
  @apply flex;
}

.footer-bg {
  @apply p-5;
  @apply pl-10;
  @apply w-full;
  @apply flex;
  @apply justify-center;
  @apply items-center;
  @apply bg-green-600;
  @apply rounded-tl-full;
  @apply text-white;
}

/* Footer socials */
footer {
  @apply mt-8;
  @apply relative;
  
}

footer p {
  @apply text-center;
  @apply mt-auto;
  @apply text-base;
}

.footer-socials {
  @apply py-3;
  @apply text-left;
  @apply px-6;
}

.footer-socials li a {
  @apply text-2xl;
  color: #1a1a1a;
}

.footer-socials {
  @apply grid;
  @apply gap-x-6;
  @apply gap-y-4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.footer-socials li a:hover {
  @apply text-green-600;
}

.footer-socials li a:active {
  @apply text-green-600;
}

/* BURGER MENU BUTTON */
#menu-btn {
  @apply mt-auto;
  @apply ml-auto;
  @apply mb-auto;
  @apply cursor-pointer;
  @apply outline-none;
  @apply border-none;
  @apply bg-transparent;
  @apply relative;
}

#menu-btn div {
  @apply bg-white;
  @apply w-8;
  @apply my-1;
  @apply mx-0;
  @apply h-1;
  @apply rounded;
  @apply ease-in-out;
  transition: all 0.4s;
  
}

.burgermenu-icon-active div:nth-child(2) {
  display: none;
}

.burgermenu-icon-active div:nth-child(1) {
  transform: rotate(-45deg);
  @apply absolute;
  left: -32.5px;
  top: -7.5px;
}
.burgermenu-icon-active div:nth-child(3) {
  transform: rotate(45deg);
  left: -32.5px;
  @apply absolute;
  top: -7.5px;
}



/* MOBIL MENU CONTAINER */
.mobil-menu-container {
  @apply bg-green-600;
  @apply h-screen;
  @apply w-full;
  @apply z-50;
  @apply absolute;
  @apply -left-full;
  @apply transition-all;
  @apply p-8;
  @apply top-16;
}

.mobil-menu-container-active {
  @apply bg-green-600;
  @apply h-screen;
  @apply w-full;
  @apply z-50;
  @apply absolute;
  @apply left-0;
  @apply transition-all;
  @apply p-8;
  @apply top-16;
}

.menu-liste-mobil ul a {
  @apply border-l-4;
  @apply border-black;
}

.menu-liste-mobil li {
  @apply py-6;
}

.menu-liste-mobil li:nth-child(1) {
  @apply pt-0;
}

.menu-liste-mobil ul a:active {
  @apply text-black;
  @apply border-l-4;
  @apply border-green-300;
}

.menu-liste-mobil ul a:focus {
  @apply text-black;
  @apply border-l-4;
  @apply border-green-300;
}



/* SOCIALS */
.socials-mobil ul a {
  @apply text-2xl;
}

.socials-mobil ul a:hover {
  @apply text-black;
}

.socials-mobil ul a:focus {
  @apply text-black;
}

.socials-mobil {
  @apply mt-5;
}

.socials-mobil ul {
  @apply flex;
  @apply justify-end;
}

.socials-mobil ul li {
  @apply pl-6;
}


/* MOBIL */
/* HERO-SECTION */
#hero-section {
  @apply px-6;
  @apply my-36;
  @apply max-h-96;
  @apply max-w-full;
  @apply grid;
  @apply gap-y-10;
  @apply place-content-center;
  @apply place-items-center;
  grid-template-areas: 
  "pitch"
  "socials-hero";
}

#hero-section img {
  display: none;
}

#hero-section article {
  grid-area: pitch;
  @apply flex;
  @apply flex-col;
  @apply items-center;
}

#hero-section article .heading-h1 {
  @apply mb-2;
  @apply text-center;
}

#hero-section article p {
  @apply text-center;
}

#hero-section article button {
  @apply mt-6;
  @apply bg-green-600;
  @apply w-60;
  @apply h-8;
  @apply text-white;
  @apply rounded-full;
  @apply px-4;
  @apply py-6;
  @apply flex;
  @apply justify-center;
  @apply items-center;
}

#hero-section div {
  grid-area: socials-hero;
  @apply w-full;
  @apply flex;
  @apply justify-center;
}

/* socials */
.socials-hero ul {
  @apply flex;
  @apply justify-evenly;
}

.socials-hero ul li a {
  @apply cursor-pointer;
  @apply text-2xl;
  color: #1a1a1a;
  
} 

.socials-hero ul li:hover a * {
  @apply text-green-600;
}

.socials-hero ul li {
  @apply px-6;
  
}


/* Om mig section */
#om-mig-section {
  @apply px-6;
  @apply my-28;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-7;
  @apply items-center;
  @apply items-center;
}

#om-mig-section h2 {
  @apply text-center;
}

.om-mig-photo img {
  min-width: 150px;
  width: 80%;
  max-width: 100%;
  @apply m-auto;
}


/* Projekter section */
#projekter-section {
  overflow: hidden;
  @apply px-6;
  @apply mt-28;
  @apply pb-20;
  display: grid;
  grid-template-columns: 1fr;
  @apply gap-y-20;
  grid-template-areas: 
    "projekt-titel"
    "toscoot"
    "mayas"
    "gisitoscooters"
    "dawinti"
    "trickdice"; 
}

#projekter-section h2 {
  grid-area: projekt-titel;
  @apply text-center;
  @apply -mb-10;
}

.Tilt {
  @apply w-full;
  @apply bg-gray-100;
  @apply rounded-3xl;
  @apply cursor-pointer;
}

.tilt-desc-dawinti,
.tilt-desc-gisitoscooters,
.tilt-desc-toscoot,
.tilt-desc-trickdice,
.tilt-desc-mayas {
  @apply p-7;
}

.mockup-trickdice {
  @apply max-h-96;
  @apply flex;
  @apply items-center;
  @apply rotate-45;
  @apply my-auto;
}

.tilt-dawinti {
  @apply overflow-hidden;
  @apply relative;
  height: 510px;
  background-color: #F8BB3A;
  @apply ease-in-out;
}

.tilt-dawinti:hover {
  background-color: #dd9932;
}

.tilt-dawinti:hover .dawinti-mockup {
  transform: scale(1.1);
}

.tilt-inner-dawinti {
  max-height: 510px;
  @apply relative;
  @apply grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "description-dawinti"
  "dawinti-mockup";
  @apply gap-y-10;
}

.tilt-desc-dawinti {
  grid-area: description-dawinti;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-3;
  @apply text-black;
  @apply pb-0;
  @apply place-items-center;
  
}

.project-container-dawinti {
  @apply relative;
  grid-area: dawinti-mockup;
  @apply h-full;
}

.dawinti-mockup {
  @apply ease-in-out;
  transition: all 1s;
  @apply absolute;
  width: 100%;
  height: 100%;
  background: url('../public/dawinti-mockup.webp');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: top;
}



.tilt-toscoot {
  height: 510px;
  @apply flex;
  @apply items-center;
  @apply ease-in-out;
  background-color: #a10a02;
  background-image: -webkit-linear-gradient( -15deg, #a10a02 0%, #a10a02 40%, #f2f2f2 40%, #f2f2f2 100%);
  background-image: linear-gradient( -15deg, #a10a02 0%, #a10a02 40%, #f2f2f2 40%, #f2f2f2 100%);
}

.tilt-toscoot:hover {
  background-image: -webkit-linear-gradient( -15deg, #b90900 0%, #b90900 40%, #e2e2e2 40%, #e2e2e2 100%);
  background-image: linear-gradient( -15deg, #b90900 0%, #b90900 40%, #e2e2e2 40%, #e2e2e2 100%);
}

.tilt-toscoot:hover .mockup-toscoot {
  transform: scale(1.3) rotate(-18deg);
  
}

.tilt-inner-toscoot {
  max-height: 500px;
  max-width: 100%;
  @apply grid;
  @apply gap-y-0;
  @apply place-content-center;
  grid-template-columns: 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "description-toscoot"
  "mockup-toscoot";
}


.mockup-toscoot {
  @apply ease-in-out;
  transition: all 1s;
  z-index: 3;
  transform: scale(1.2) rotate(-18deg);
}

.project-container-toscoot {
  grid-area: mockup-toscoot;
  z-index: 3;
}

.tilt-desc-toscoot {
    grid-area: description-toscoot;
    @apply grid;
    @apply grid-cols-1;
    @apply gap-y-3;
    @apply pb-0;
    @apply place-items-start;
}



.tilt-trickdice { 
  height: 510px;
  background-color: #00a19a;
  @apply ease-in-out;
  background-image: -webkit-linear-gradient( 15deg, #00a19a 0%, #00a19a 40%, #d60b52 40%, #d60b52 100%);
  background-image: linear-gradient( 15deg, #00a19a 0%, #00a19a 40%, #d60b52 40%, #d60b52 100%);
}

.tilt-trickdice:hover {
  background-image: -webkit-linear-gradient( 15deg, #008079 0%, #008079 40%, #bb0b49 40%, #bb0b49 100%);
  background-image: linear-gradient( 15deg, #008079 0%, #008079 40%, #bb0b49 40%, #bb0b49 100%);
}

.tilt-inner-trickdice {
  max-height: 500px;
  @apply grid;
  @apply gap-y-3;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "description-trickdice"
  "mockup-trickdice";
}

.mockup-trickdice {
  @apply ease-in-out;
  transition: all 1s;
  transform: rotate(15deg);
  z-index: 3;
  @apply absolute;
  @apply max-h-80;
  @apply mr-5;
  
}

.project-container-trickdice {
  grid-area: mockup-trickdice;
  z-index: 3;
  @apply max-h-80;
  @apply h-80;
  @apply max-w-full;
  @apply relative;
  @apply flex;
  @apply justify-end;
  
  @apply -mt-10;
}

.tilt-desc-trickdice {
    grid-area: description-trickdice;
    @apply grid;
    @apply grid-cols-1;
    @apply gap-y-3;
    @apply pb-0;
    @apply text-white;
}



.tilt-gisitoscooters {
  @apply overflow-hidden;
  height: 510px;
  background-color: #00a14b;
  @apply ease-in-out;
}

.tilt-gisitoscooters:hover {
  background-color: #017a39;
}

.tilt-gisitoscooters:hover .gisitoscooters-mockup {
  transform: scale(1.1);
}

.tilt-inner-gisitoscooters {
  max-height: 510px;
  @apply relative;
  @apply grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "description-gisitoscooters"
  "gisitoscooters-mockup";
}

.tilt-desc-gisitoscooters {
  grid-area: description-gisitoscooters;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-3;
  @apply text-white;
  @apply pb-0;
  @apply place-items-center;
}

.project-container-gisitoscooters {
  @apply relative;
  grid-area: gisitoscooters-mockup;
  height: 100%;
  
}

.gisitoscooters-mockup {
  @apply ease-in-out;
  transition: all 1s;
  @apply absolute;
  width: 100%;
  height: 100%;
  background: url('../public/mockup-gisito-glossy.webp');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}



/* Maya's */
.tilt-mayas { 
  @apply overflow-hidden;
  height: 510px;
  @apply ease-in-out;
  background-image: -webkit-linear-gradient( -10deg, #00948A 0%, #00948A 55%, #E9F0EF 55%, #E9F0EF 100%);
  background-image: linear-gradient( -10deg, #00948A 0%, #00948A 55%, #E9F0EF 55%, #E9F0EF 100%);
}

.tilt-mayas:hover {
  background-image: -webkit-linear-gradient( -10deg, rgb(3, 182, 173) 0%, rgb(3, 182, 173) 55%, #E9F0EF 55%, #E9F0EF 100%);
  background-image: linear-gradient( -10deg, rgb(3, 182, 173) 0%, rgb(3, 182, 173) 55%, #E9F0EF 55%, #E9F0EF 100%);
}

.tilt-desc-mayas img {
  max-width: 150px;
  height: auto;
}

.tilt-mayas:hover .tilt-mayas {
  background-color: rgb(2, 172, 160);
}

.tilt-mayas:hover .mayas-mockup {
  transform: scale(1.2);
}

.tilt-inner-mayas {
  max-height: 510px;
  @apply relative;
  @apply grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "description-mayas"
  "mayas-mockup";
}

.tilt-desc-mayas {
  grid-area: description-mayas;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-3;
  color: #1a1a1a;
  @apply pb-0;
  @apply place-items-center;
}

.project-container-mayas {
  @apply relative;
  grid-area: mayas-mockup;
  height: 100%;
  
}

.mayas-mockup {
  @apply ease-in-out;
  transition: all 1s;
  @apply absolute;
  width: 100%;
  height: 100%;
  background: url('../public/mayas-mockups.webp');
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
}




.gisitoscooters-area {
  grid-area: gisitoscooters;
}
.toscoot-area {
  grid-area: toscoot;
}
.trickdice-area {
  grid-area: trickdice;
}
.dawinti-area {
  grid-area: dawinti;
}

.mayas-area {
  grid-area: mayas;
}


/* Skillset section */
#skillset-section {
  @apply px-6;
  @apply my-28;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-12;
}

.skillset-section-titel {
  @apply text-center;
}

.level-meter {
  @apply w-full;
  @apply h-7;
  @apply bg-gray-400;
  @apply absolute;
}

.levels {
  @apply relative;
  @apply flex;
  @apply flex-row;
  @apply justify-evenly;
  
}

.levels li {
  @apply text-base;
}

.levels li:nth-child(2) {
  @apply px-10;
}

.level-score {
  @apply h-7;
  @apply bg-green-600;
  z-index: 2;
  float: left;
}


.skillset-container {
  @apply grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 7px;
  @apply relative;
  @apply items-center;
  
}

.skills-container {
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-16;
}

.skill-logo {
  @apply absolute;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply w-12;
  @apply h-12;
  
}

.skill-logo img {
  z-index: 2;
  @apply absolute;
}

.skill-name {
  @apply absolute;
  transform: rotate(270deg);
}

.level-meter-container {
  @apply relative;
  @apply flex;
  @apply items-center;
}





/* Kontakt mig */
#kontakt-mig-section {
  @apply px-6;
  @apply my-28;
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply gap-y-8;
}

#kontakt-mig-section h2 {
  @apply text-center;
}

.kontakt-mig-form {
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
  @apply w-full;
  @apply gap-y-8;
}

.kontakt-mig-form input {
  @apply rounded-full;
  @apply border;
  @apply border-gray-400;
  width: 100%;
  @apply px-4;
  @apply py-3;
  @apply outline-none;
}

.kontakt-mig-form input:focus,
.kontakt-mig-form textarea:focus {
  @apply border-green-600;
}

.kontakt-mig-form textarea {
  width: 100%;
  max-width: 100%;
  @apply border;
  @apply border-gray-400;
  @apply rounded-t-3xl;
  @apply px-4;
  @apply py-3;
  @apply h-48;
  @apply outline-none;
}

.kontakt-mig-form button {
  @apply bg-green-600;
  @apply w-full;
  @apply h-8;
  @apply text-white;
  @apply rounded-full;
  @apply px-4;
  @apply py-6;
  @apply flex;
  @apply justify-center;
  @apply items-center;
}



/* MODALS FOR PROJECTS */
/* GENERELT */
.modal-body {
  @apply relative !important;
  @apply p-0 !important;
  @apply rounded-t-lg !important;
  @apply border-t !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  margin-right: 3px;
}

.modal-body::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: none;
  border: none;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-green-600;
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-green-900;
}

.modal-header {
  @apply p-0 !important;
  @apply border-none !important;
}

.modal-footer {
  @apply pt-0 !important;
  @apply border-none !important;
}

.project-modal-carousel {
  @apply rounded-t-lg !important;
  @apply border;
}

.project-modal-infobox {
  @apply px-4;
  @apply pt-6;
}

.carousel-inner {
  width: 100% !important;
}

.close-modal-btn {
  @apply absolute;
  right: 0%;
  top: 0%;
  z-index: 99;
  margin: 0;
  padding: 0;
  @apply mr-3;
  @apply text-2xl;
  @apply text-red-600;
  
  @apply cursor-pointer;

}

.close-modal-btn .svg-inline--fa {
  @apply bg-white;
}

.close-modal-btn:hover,
.close-modal-btn:active {
  @apply text-red-500;
}

.tools-used {
  @apply flex;
  @apply flex-row;
  @apply flex-wrap;
  @apply justify-start;
  @apply items-start;
  @apply pl-0;
}

.tools-used li {
  @apply text-sm;
  @apply pr-1;
  @apply text-green-600;
}

.modal-project-link {
  @apply text-lg;
  @apply text-white;

}

.modal-project-link button {
  @apply bg-green-600;
  @apply rounded-full;
  @apply px-3;
  @apply py-1;
  @apply border-2;
  @apply border-green-600;
  font-family: 'Quicksand', sans-serif;
}

.modal-footer {
  @apply border-none !important;
}

.modal-project-link button:hover,
.modal-project-link button:active {
  @apply bg-transparent;
  @apply text-green-600;
  font-weight: 600;
}






/* 420 px */
@media only screen and (min-width: 420px) and (max-width: 640px) {
  #projekter-section {
    @apply gap-y-24;
    @apply px-10;
  }

  .tilt-inner-toscoot,
  .tilt-toscoot {
    height: fit-content;
    max-height: 100%;
    
  }
  

  .tilt-inner-toscoot {
    place-items: start;
    grid-template-rows: 0fr 1fr;
  }

  .tilt-trickdice:hover .mockup-trickdice {
    transform: scale(1.1) rotate(15deg);
  }

  .tilt-toscoot:hover .mockup-toscoot {
    transform: scale(1.2) rotate(-18deg);
  }

  .mockup-trickdice {
    @apply mr-12;
    transform: scale(1) rotate(15deg);
  }

  .mockup-toscoot {
    transform: scale(1.1) rotate(-18deg);
  }
  

  .gisitoscooters-mockup {
    @apply mt-0;
  }

  .mayas-mockup {
    @apply mt-0;
  }


  

}


/* min-width 640px */
@screen sm {

  #hero-section {
    @apply px-20;
  }

  #om-mig-section {
    @apply px-20;
  }



  /* Projekter section */
  #projekter-section {
    overflow: hidden;
    @apply mt-20;
    @apply pb-20;
    display: grid;
    grid-template-columns: 1fr;
    @apply gap-y-12;
    @apply gap-x-6;
    grid-template-areas: 
      "projekt-titel"
      "toscoot"
      "mayas"
      "gisitoscooters"
      "dawinti"
      "trickdice"; 
  }
  
  #projekter-section h2 {
    @apply mb-0;
  }

  .Tilt {
    @apply w-full;
    @apply bg-gray-100;
    @apply rounded-3xl;
    
  }

  .tilt-dawinti,
  .tilt-gisitoscooters,
  .tilt-mayas {
    width: 70%;
    margin: auto;
  }

  .tilt-dawinti {
    height: 510px;
    background-color: #fcaf3b;
    @apply ease-in-out;
  }

  .tilt-dawinti:hover {
    background-color: #dd9932;
  }

  

  .tilt-toscoot {
    @apply flex;
    @apply relative;
    @apply justify-center;
    @apply align-middle;
    @apply h-72;
    @apply ease-in-out;
    background-color: #a10a02;
    background-image: -webkit-linear-gradient( -55deg, #a10a02 0%, #a10a02 50%, #f2f2f2 50%, #f2f2f2 100%);
    background-image: linear-gradient( -55deg, #a10a02 0%, #a10a02 50%, #f2f2f2 50%, #f2f2f2 100%);
  }

  .tilt-toscoot:hover {
    background-image: -webkit-linear-gradient( -55deg, #b90900 0%, #b90900 50%, #e2e2e2 50%, #e2e2e2 100%);
    background-image: linear-gradient( -55deg, #b90900 0%, #b90900 50%, #e2e2e2 50%, #e2e2e2 100%);
  }

  .tilt-toscoot:hover .mockup-toscoot {
    transform: scale(1.1);
  }

  .tilt-inner-toscoot {
    @apply relative;
    @apply max-h-72;
    @apply p-5;
    @apply grid;
    @apply gap-x-0;
    @apply items-center;
    @apply place-content-center;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "description-toscoot mockup-toscoot";
  }

  .tilt-desc-toscoot {
    grid-area: description-toscoot;
    @apply max-h-72;
    @apply text-black;
    @apply p-5;
    @apply grid;
    @apply grid-cols-1;
    @apply gap-y-3;
  }


  .mockup-toscoot {
    @apply ease-in-out;
    transition: all 1s;
    @apply absolute;
    grid-area: mockup-toscoot;
    transform: rotate(0deg);
    min-width: 300px;
    max-width: 400px;
    z-index: 2;
  }

  .project-container-toscoot {
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply relative;
    @apply w-full;
    @apply h-72;
  }


  .tilt-trickdice {
    @apply h-72;
    @apply flex;
    @apply justify-center;
    @apply align-middle;
    background-color: #00a19a;
    @apply ease-in-out;
    @apply mt-16;
    background-image: -webkit-linear-gradient( -55deg, #00a19a 0%, #00a19a 60%, #d60b52 60%, #d60b52 100%);
    background-image: linear-gradient( -55deg, #00a19a 0%, #00a19a 60%, #d60b52 60%, #d60b52 100%);
  }

  .tilt-trickdice:hover {
    background-image: -webkit-linear-gradient( -55deg, #008079 0%, #008079 60%, #bb0b49 60%, #bb0b49 100%);
    background-image: linear-gradient( -55deg, #008079 0%, #008079 60%, #bb0b49 60%, #bb0b49 100%);
  }

  .tilt-trickdice:hover .mockup-trickdice {
    transform: scale(1.1);
  }

  .mockup-trickdice  {
    transform: rotate(-10deg);
  }

  .tilt-inner-trickdice {
    @apply relative;
    @apply max-h-72;
    @apply p-5;
    @apply grid;
    @apply gap-x-0;
    @apply items-center;
    @apply place-content-center;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "mockup-trickdice description-trickdice";
  }

  .tilt-desc-trickdice {
    grid-area: description-trickdice;
    @apply max-h-72;
    @apply h-72;
    @apply p-5;
    @apply grid;
    @apply grid-cols-1;
    @apply gap-y-3;
    @apply text-white;
  }


  .mockup-trickdice {
    @apply ease-in-out;
    transition: all 1s;
    @apply absolute;
    grid-area: mockup-trickdice;
    @apply max-h-96;
    @apply m-0;
    z-index: 2;
  }

  .project-container-trickdice {
    @apply relative;
    @apply w-full;
    @apply flex;
    @apply items-center;
    @apply justify-start;
    @apply m-0;
  }

  .tilt-gisitoscooters {
    height: 510px;
    background-color: #00a14b;
    @apply ease-in-out;
  }

  .gisitoscooters-mockup {
    @apply mt-12;
  
  }

  .tilt-desc-dawinti img {
    max-width: 100px;
  }

  .tilt-desc-trickdice img {
    max-width: 90px;
  }

  .tilt-desc-toscoot img {
    max-width: 90px;
  }

  .tilt-gisitoscooters:hover {
    background-color: #017a39;
  }


  /* Maya's */
.tilt-mayas {
  @apply overflow-hidden;
  @apply ease-in-out;
}

.tilt-desc-mayas img {
  max-width: 50%;
  height: auto;
}

.tilt-inner-mayas:hover {
  background-color: rgb(2, 172, 160);
}

.tilt-inner-mayas:hover .mayas-mockup {
  transform: scale(1.1);
}

.tilt-inner-mayas {
  max-height: 510px;
  @apply relative;
  @apply grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "description-mayas"
  "mayas-mockup";
}

.tilt-desc-mayas {
  grid-area: description-mayas;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-3;
  color: #1a1a1a;
  @apply pb-0;
  @apply place-items-center;
}

.project-container-mayas {
  @apply relative;
  grid-area: mayas-mockup;
  height: 100%;
  
}



  .gisitoscooters-area {
    grid-area: gisitoscooters;
  }
  .toscoot-area {
    grid-area: toscoot;
  }
  .trickdice-area {
    grid-area: trickdice;
  }
  .dawinti-area {
    grid-area: dawinti;
  }



  /* Skillset section */
  #skillset-section {
    @apply px-20;
  }



  /* Kontakt mig */
  #kontakt-mig-section {
    @apply px-20;
    @apply my-20;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply gap-y-8;
  }

  

  .kontakt-mig-form button {
    @apply bg-green-600;
    @apply w-full;
    @apply h-8;
    @apply text-white;
    @apply rounded-full;
    @apply px-4;
    @apply py-6;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }
}






/* min-width 768px */
@screen md {

  .om-mig-photo img {
    min-width: 150px;
    width: 250px;
    max-width: 350px;
    @apply m-auto;
  }


  header * {
    color: #1a1a1a;
    font-weight: 600;
  }

  header {
    @apply bg-transparent;
    @apply w-full;
    @apply max-w-full;
    @apply h-16;
    @apply max-h-16;
    @apply m-0;
    @apply p-0;
  }

  .header-bg {
    @apply ease-in-out;
    @apply w-full;
    @apply h-16;
    @apply px-0;
    @apply mx-0;
    @apply flex;
    @apply justify-center;
    @apply items-center;

    /* before scroll*/
    @apply bg-green-50;
    @apply mr-10;
    @apply pl-10;
    border-top-right-radius: 75px;
    @apply rounded-br-none;
    @apply rounded-bl-none;
  }

  .header-bg-scroll {
    @apply ease-in-out;
    @apply w-full;
    @apply h-16;
    @apply px-0;
    @apply mx-0;
    @apply flex;
    @apply justify-center;
    @apply items-center;

    /* after scroll*/
    @apply bg-green-600;
    @apply px-10;
    @apply rounded-bl-full;
    @apply rounded-tr-none;
    @apply rounded-br-full;
  }

  .logo {
    @apply ease-in-out;
    @apply h-16;
    @apply pl-3;
    @apply pr-2;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    /* before scroll */
    @apply bg-green-50;
  }

  .logo-scroll {
    @apply ease-in-out;
    @apply pl-3;
    @apply pr-2;
    @apply flex;
    @apply h-16;
    @apply items-center;
    @apply justify-center;
    /* after scroll */
    @apply bg-transparent;
  }
  
  .logo img {
    @apply ease-in-out;
    max-width: 64px;
    width: 56px;
  }

  .logo-scroll img {
    @apply ease-in-out;
    max-width: 64px;
    width: 56px;
  }

  /* DESKTOP MENU LIST */
  .global-menu-desktop {
    @apply w-full;
    @apply flex;
  }

  .menu-liste-desktop {
    @apply flex;
    @apply items-center;
    @apply pr-14;
  }

  .menu-liste-desktop-scroll {
    @apply flex;
    @apply items-center;
    @apply pr-0;
  }

  .menu-liste-desktop .li-default {
    @apply ease-in-out;
    @apply px-7;
    @apply py-4;
    @apply text-base;

    /* before scroll */ 
    @apply text-black;
  }

  .menu-liste-desktop-scroll .li-scroll {
    @apply ease-in-out;
    @apply px-7;
    @apply py-4;
    @apply text-base;

    /* after scroll */ 
    @apply text-white;
  }

  .menu-liste-desktop a:hover  {
    @apply border-b-4;
    @apply border-green-600;
  }

  .menu-liste-desktop-scroll a:hover  {
    @apply border-b-4;
    @apply border-green-300;
  }

  .menu-liste-desktop {
    @apply flex;
  }

  .menu-liste-desktop-scroll {
    @apply flex;
  }

  .menu-liste-desktop li {
    @apply px-6;
    @apply flex;
    @apply items-center;
    @apply justify-center; 
    @apply h-14;
    @apply max-h-14;
    @apply mt-1;
    @apply border-b-4;
    @apply border-green-50;
  }

  .menu-liste-desktop-scroll li {
    @apply px-6;
    @apply flex;
    @apply items-center;
    @apply justify-center; 
    @apply h-14;
    @apply max-h-14;
    @apply mt-1;
    @apply border-b-4;
    @apply border-green-600;
  }


  /* socials */
  .socials-desktop-scroll {
    @apply ease-in-out;
    @apply p-2;
    @apply pl-3;
  }

  .socials-desktop-scroll ul {
    @apply ease-in-out;
    @apply grid;
    @apply gap-x-2;
    grid-template-areas:
    "social-git social-li"
    ". social-ig";
  }

  .socials-desktop {
    @apply ease-in-out;
    display: none;
  }

  .socials-desktop-scroll ul li {
    @apply text-black;
  }

  .socials-desktop-scroll ul li a {
    @apply cursor-pointer;
    @apply text-xl;
    
  } 

  .socials-desktop-scroll ul li:hover a * {
    @apply text-green-600;
  }

  .social-desktop-git {
    grid-area: social-git;
  }

  .social-desktop-li {
    grid-area: social-li;
  }

  .social-desktop-ig {
    grid-area: social-ig;
  }



  /* HERO-SECTION */
  #hero-section {
    @apply m-0;
    min-height: 500px;
    max-height: 600px;
    @apply grid;
    @apply gap-y-10;
    @apply place-content-center;
    @apply place-items-center;
    grid-template-areas: 
    "pitch"
    "socials-hero";


    /* before scroll */
    @apply mr-10;
    @apply bg-green-50;
    border-bottom-right-radius: 75px;
  }

  #hero-section img {
    @apply my-20;
    grid-area: hero-image;
    display: none;
  }

  #hero-section article {
    grid-area: pitch;
    @apply px-10;
    @apply block;
  }

  #hero-section article .heading-h1 {
    @apply mb-2;
    @apply text-left;
  }

  #hero-section article p {
    @apply text-left;
  }

  #hero-section article button {
    @apply mt-6;
    @apply bg-green-600;
    @apply w-60;
    @apply h-8;
    @apply text-white;
    @apply rounded-full;
    @apply px-4;
    @apply py-6;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  #hero-section div {
    grid-area: socials-hero;
    @apply w-full;
    @apply flex;
    @apply justify-center;
  }

  /* socials */
  .socials-hero ul {
    @apply flex;
    @apply justify-evenly;
  }

  .socials-hero ul li a {
    @apply cursor-pointer;
    @apply text-3xl;
    
  } 

  .socials-hero ul li:hover a * {
    @apply text-green-600;
  }

  .socials-hero ul li {
    @apply px-6;
    
  }


  /* Om mig section */
  #om-mig-section {
    @apply px-6;
    @apply flex;
    @apply items-center;
    display: grid;
    @apply gap-x-5;
    @apply gap-y-1;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0fr 1fr;
    grid-template-areas: 
    "om-mig-photo om-mig-titel"
    "om-mig-photo om-mig-tekst";
  }

  .om-mig-photo {
    grid-area: om-mig-photo;
    
  }

  #om-mig-section h2 {
    grid-area: om-mig-titel;
    @apply text-left;
  }
  #om-mig-section article {
    grid-area: om-mig-tekst;
  }



  /* Projekter section */
  #projekter-section {
    @apply px-10;
    @apply my-20;
    @apply mb-4;
    @apply pb-16;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @apply gap-y-12;
    @apply gap-x-8;
    grid-template-areas: 
    "projekt-titel projekt-titel projekt-titel"
    "toscoot toscoot toscoot"
    "gisitoscooters mayas dawinti"
    "trickdice trickdice trickdice"; 
  }

  .Tilt {
    @apply w-full;
    @apply bg-gray-100;
    @apply rounded-3xl;
    
  }

  .tilt-dawinti {
    height: 450px;
    background-color: #fcaf3b;
    @apply ease-in-out;
  }

  .tilt-dawinti:hover {
    background-color: #dd9932;
  }

  .toscoot-area,
  .trickdice-area {
    @apply mx-12;
  }

  .tilt-toscoot {
    @apply h-60;
    @apply ease-in-out;
    background-color: #a10a02;
    background-image: -webkit-linear-gradient( -55deg, #a10a02 0%, #a10a02 45%, #f2f2f2 45%, #f2f2f2 100%);
    background-image: linear-gradient( -55deg, #a10a02 0%, #a10a02 45%, #f2f2f2 45%, #f2f2f2 100%);
  }

  .tilt-toscoot:hover {
    background-image: -webkit-linear-gradient( -55deg, #b90900 0%, #b90900 45%, #e2e2e2 45%, #e2e2e2 100%);
    background-image: linear-gradient( -55deg, #b90900 0%, #b90900 45%, #e2e2e2 45%, #e2e2e2 100%);
  }

  .tilt-desc-toscoot {
    @apply gap-y-0;
  }

  .tilt-trickdice {
    @apply h-60;
    @apply mt-6;
    background-color: #00a19a;
    @apply ease-in-out;
    background-image: -webkit-linear-gradient( -55deg, #00a19a 0%, #00a19a 55%, #d60b52 55%, #d60b52 100%);
    background-image: linear-gradient( -55deg, #00a19a 0%, #00a19a 55%, #d60b52 55%, #d60b52 100%);
  }

  .tilt-trickdice:hover {
    background-image: -webkit-linear-gradient( -55deg, #008079 0%, #008079 55%, #bb0b49 55%, #bb0b49 100%);
    background-image: linear-gradient( -55deg, #008079 0%, #008079 55%, #bb0b49 55%, #bb0b49 100%);
  }

  .tilt-trickdice:hover .mockup-trickdice {
    transform: scale(1.1) rotate(-10deg);
  }

  .mockup-trickdice  {
    transform: rotate(-10deg);
  }

  .tilt-inner-trickdice {
    @apply relative;
    @apply max-h-60;
    @apply p-5;
    @apply grid;
    @apply gap-x-0;
    @apply items-center;
    @apply place-content-center;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
    "mockup-trickdice description-trickdice";
  }

  .tilt-desc-trickdice {
    grid-area: description-trickdice;
    @apply max-h-60;
    @apply h-60;
    @apply p-5;
    @apply pl-8;
    @apply grid;
    @apply grid-cols-1;
    @apply gap-y-0;
    @apply text-white;
  }


  .mockup-trickdice {
    @apply ease-in-out;
    transition: all 1s;
    @apply absolute;
    grid-area: mockup-trickdice;
    @apply max-h-80;
    @apply m-0;
    z-index: 2;
  }

  .project-container-trickdice {
    @apply relative;
    @apply w-full;
    @apply flex;
    @apply items-center;
    @apply justify-start;
    @apply m-0;
    @apply ml-5;
  }

  .tilt-gisitoscooters {
    height: 450px;
    background-color: #00a14b;
    @apply ease-in-out;
  }

  .tilt-gisitoscooters:hover {
    background-color: #017a39;
  }

  .tilt-gisitoscooters:hover .gisitoscooters-mockup {
    transform: scale(1.2);
  }

  .gisitoscooters-mockup {
    background-size: 110%;
    background-position: top;
  }

  .tilt-dawinti:hover .dawinti-mockup {
    transform: scale(1.2);
  }

  .dawinti-mockup {
    background-size: 110%;
    background-position: top;
    @apply -mt-6;
  }
  
  .gisitoscooters-mockup {
    @apply mt-10;
  
  }

  .tilt-desc-dawinti img {
    max-width: 100px;
  }

  .tilt-desc-trickdice img {
    max-width: 80px;
  }

  .tilt-desc-toscoot img {
    max-width: 90px;
  }

  /* Maya's */
.tilt-mayas {
  @apply overflow-hidden;
  height: 450px;
  background-color: #00948A;
  @apply ease-in-out;
}

.tilt-desc-mayas img {
  max-width: 80%;
  height: auto;
}

.tilt-inner-mayas:hover {
  background-color: rgb(2, 172, 160);
}

.tilt-inner-mayas:hover .mayas-mockup {
  transform: scale(1.2);
}

.tilt-inner-mayas {
  max-height: 430px;
  @apply relative;
  @apply grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "description-mayas"
  "mayas-mockup";
}

.tilt-desc-mayas {
  grid-area: description-mayas;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-3;
  color: #1a1a1a;
  @apply pb-0;
  @apply place-items-center;
}

.project-container-mayas {
  @apply relative;
  grid-area: mayas-mockup;
  height: 100%;
  
}

  .gisitoscooters-area {
    grid-area: gisitoscooters;
  }
  .toscoot-area {
    grid-area: toscoot;
  }
  .trickdice-area {
    grid-area: trickdice;
  }
  .dawinti-area {
    grid-area: dawinti;
  }



/* Skillset section */
#skillset-section {
  @apply px-20;
  @apply my-20;
}

.skills-container {
  @apply grid;
  @apply grid-cols-2;
  @apply gap-y-16;
  @apply gap-x-16;
}





  /* Kontakt mig */
  #kontakt-mig-section {
    @apply px-20;
    @apply my-20;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply gap-y-8;
    @apply mx-10;
  }



  .kontakt-mig-form button {
    @apply bg-green-600;
    @apply w-full;
    @apply h-8;
    @apply text-white;
    @apply rounded-full;
    @apply px-4;
    @apply py-6;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }

  .project-modal-infobox {
    @apply px-8;
  }




}






/* min-width 1024px */
@screen lg {
  header * {
    color: #1a1a1a;
    font-weight: 600;
  }

  header {
    @apply bg-transparent;
    @apply w-full;
    @apply max-w-full;
    @apply h-16;
    @apply max-h-16;
    @apply m-0;
    @apply p-0;
  }

  .header-bg {
    @apply pr-28;
  }

  .logo-scroll {
    min-width: 71px;
    @apply pr-10;
    @apply pl-6;
  }

  .logo {
    min-width: 71px;
    @apply pr-10;
    @apply pl-6;
  }

  .menu-liste-desktop {
    @apply pr-28;
  }
  
  /* socials */
  .socials-desktop-scroll {
    @apply ease-in-out;
    @apply pr-4;
    @apply pl-6;
  }

  .socials-desktop-scroll ul {
    @apply ease-in-out;
    @apply grid;
    @apply gap-x-2;
    grid-template-areas:
    "social-git social-li social-ig";
  }

  .socials-desktop-scroll ul li a {
    @apply text-xl;
    
  } 

  

  /* Footer socials */
  footer {
    @apply mt-8;
    @apply relative;
  }

  footer p {
    @apply text-center;
  }

  .footer-socials {
    @apply text-left;
  }

  .footer-socials li a{
    @apply py-0;
    @apply text-2xl;
  }

  /* HERO-SECTION */
  #hero-section {
    @apply py-20;
    @apply pb-10;
    @apply m-0;
    height: auto;
    max-height: 100%;
    @apply grid;
    @apply gap-y-0;
    @apply gap-x-6;
    @apply place-content-center;
    @apply place-items-center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0fr;
    grid-template-areas:
    "pitch hero-image"
    ". socials-hero";


    /* before scroll */
    @apply mr-10;
    @apply bg-green-50;
    border-bottom-right-radius: 75px;
  }

  #hero-section img {
    @apply my-0;
    grid-area: hero-image;
    @apply block;
  }

  #hero-section article {
    grid-area: pitch;
    @apply px-10;
  }

  #hero-section article .heading-h1 {
    @apply mb-2;
  }

  #hero-section article button {
    @apply mt-4;
  }

  #hero-section div {
    grid-area: socials-hero;
    @apply w-full;
    @apply flex;
    @apply justify-center;
    @apply mt-10;
  }

  /* socials */
  .socials-hero ul li a {
    @apply cursor-pointer;
    @apply text-3xl;
    
  } 

  .socials-hero ul li:hover a * {
    @apply text-green-600;
  }

  .socials-hero ul li {
    @apply px-6;
    
  }


  /* Om mig section */
  #om-mig-section {
    @apply px-28;
    @apply flex;
    @apply items-center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



  /* Projekter section */
  #projekter-section {
    @apply px-10;
    @apply my-20;
    @apply mb-12;
    @apply gap-y-16;
    @apply gap-x-10;
  }

  #projekter-section h2 {
    @apply -mb-6;
  }



  /* Skillset section */
  #skillset-section {
    @apply px-28;
    @apply my-20;
  }

  .skills-container {
    @apply grid;
    @apply grid-cols-3;
    @apply gap-y-16;
    @apply gap-x-16;
  }

  .tilt-toscoot,
  .tilt-trickdice {
    height: 260px;
  }

  .toscoot-area,
  .trickdice-area {
    @apply mx-24;
  }

  .gisitoscooters-mockup {
    @apply mt-6;
  
  }

  .tilt-desc-dawinti img {
    max-width: 100px;
  }

  .tilt-desc-trickdice img {
    max-width: 90px;
  }

  .tilt-desc-toscoot img {
    max-width: 100px;
  }

  /* Maya's */
.tilt-mayas {
  @apply overflow-hidden;
  background-color: #00948A;
  @apply ease-in-out;
}

.tilt-desc-mayas img {
  max-width: 60%;
  height: auto;
}

.tilt-inner-mayas:hover {
  background-color: rgb(2, 172, 160);
}

.tilt-inner-mayas:hover .mayas-mockup {
  transform: scale(1.1);
}

.tilt-inner-mayas {
  @apply relative;
  @apply grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "description-mayas"
  "mayas-mockup";
}

.tilt-desc-mayas {
  grid-area: description-mayas;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-3;
  color: #1a1a1a;
  @apply pb-0;
  @apply place-items-center;
}

.project-container-mayas {
  @apply relative;
  grid-area: mayas-mockup;
  height: 100%;
  
}



  /* Kontakt mig */
  #kontakt-mig-section {
    @apply px-40;
    @apply my-28;
    @apply mt-32;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply gap-y-8;
    @apply mx-36;
  }

  
}


@screen xl {
  header * {
    color: #1a1a1a;
    font-weight: 600;
  }

  header {
    @apply bg-transparent;
    @apply w-full;
    @apply max-w-full;
    @apply h-16;
    @apply max-h-16;
    @apply m-0;
    @apply p-0;
  }

  .header-bg {
    @apply pr-48;
  }

  .logo-scroll {
    min-width: 71px;
    padding-right: 122px;
    @apply pl-8;
  }

  .logo {
    min-width: 71px;
    padding-right: 122px;
    @apply pl-8;
  }

  .menu-liste-desktop {
    @apply pr-48;
  }

  
  /* socials */
  .socials-desktop-scroll ul {
    @apply gap-x-5;
  }

  .socials-desktop-scroll {
    @apply pr-8;
    @apply pl-14;
  }

  .socials-desktop-scroll ul li a {
    @apply text-2xl;
    
  } 


  /* socials */
  .socials-hero ul {
    @apply flex;
    @apply justify-evenly;
    width: auto;
    @apply pr-3;
    @apply pl-3;
    @apply pt-0;
  }

  .socials-hero ul li {
    @apply px-4;
  }

  #hero-section {
    @apply pl-20;
    @apply gap-x-12;
    grid-template-columns: 1fr 0.65fr;
  }

  #hero-section article {
    @apply grid;
    @apply gap-y-2;
  }


  /* Om mig section */
  #om-mig-section {
    @apply px-60;
    @apply my-28;
    @apply mt-44;
    @apply flex;
    @apply items-center;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .toscoot-area,
  .trickdice-area {
    @apply mx-48;
  }

  .tilt-toscoot {
    @apply mb-8;
  }

  /* Projekter section */
  #projekter-section {
    @apply px-16;
    @apply my-28;
    @apply mt-44;
    @apply pb-28;
    @apply gap-y-20;
    @apply gap-x-16;
  }

  #projekter-section h2 {
    @apply -mb-6;
  }

  .tilt-dawinti,
  .tilt-gisitoscooters,
  .tilt-mayas {
    height: 550px;
  }

  .tilt-inner-dawinti {
    height: 550px;
  }
  .tilt-inner-gisitoscooters,
  .tilt-inner-mayas {
    height: 550px;
  }

  .tilt-inner-dawinti,
  .tilt-inner-gisitoscooters {
    max-height: 550px;
  }

  .tilt-trickdice,
  .tilt-toscoot {
    @apply h-80;
  }

  .tilt-trickdice {
    @apply justify-center;
    @apply align-middle;
  }

  .tilt-desc-toscoot {
    @apply pl-16;
  }

  .tilt-trickdice:hover .mockup-trickdice {
    transform: scale(1.3) rotate(-10deg);
  }
  .tilt-toscoot:hover .mockup-toscoot {
    transform: scale(1.5) rotate(-18deg);
  }

  .mockup-toscoot {
    transform: scale(1.4) rotate(-18deg);
  }

  .mockup-trickdice {
    transform: scale(1.2) rotate(-10deg);
  }


  .mockup-trickdice {
    @apply max-h-80;
    @apply m-0;
    z-index: 2;
  }

  .project-container-trickdice {
    @apply flex;
    @apply items-center;
    @apply justify-start;
    @apply m-0;
    @apply ml-24;
    top: 15px;
  }

  .tilt-inner-trickdice {
    @apply max-h-72;
    @apply p-5;
  }

  .tilt-desc-trickdice {
    @apply max-h-80;
    @apply h-80;
    @apply p-5;
    @apply pt-12;
    @apply pl-16;
    @apply gap-y-3;
    @apply place-content-center;
  }

  .gisitoscooters-mockup {
    @apply mt-6;
  
  }

  .tilt-desc-dawinti img {
    max-width: 120px;
  }

  .tilt-desc-trickdice img {
    max-width: 110px;
  }

  .tilt-desc-toscoot img {
    max-width: 110px;
  }

  .tilt-desc-toscoot p,
  .tilt-desc-trickdice p,
  .tilt-desc-mayas p,
  .tilt-desc-gisitoscooters p,
  .tilt-desc-dawinti p {
    @apply text-lg;
  }

  .tilt-desc-mayas p,
  .tilt-desc-gisitoscooters p,
  .tilt-desc-dawinti p {
    @apply text-center;
  }

  

  /* Maya's */
.tilt-mayas {
  @apply overflow-hidden;
  background-color: #00948A;
  @apply ease-in-out;
}

.tilt-desc-mayas img {
  max-width: 70%;
  height: auto;
}

.tilt-inner-mayas:hover {
  background-color: rgb(2, 172, 160);
}

.tilt-inner-mayas:hover .mayas-mockup {
  transform: scale(1.2);
}

.tilt-inner-mayas {
  max-height: 510px;
  @apply relative;
  @apply grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "description-mayas"
  "mayas-mockup";
}

.tilt-desc-mayas {
  grid-area: description-mayas;
  @apply grid;
  @apply grid-cols-1;
  @apply gap-y-3;
  color: #1a1a1a;
  @apply pb-0;
  @apply place-items-center;
}

.project-container-mayas {
  @apply relative;
  grid-area: mayas-mockup;
  height: 100%;
  
}



  /* Skillset section */
  #skillset-section {
    @apply px-60;
    @apply my-20;
  }

  /* Kontakt mig */
  #kontakt-mig-section {
    @apply px-60;
    @apply my-28;
    @apply mt-44;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply items-center;
    @apply gap-y-8;
    @apply mx-36;
  }

 


}




